---
permalink: /landscape/index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content=""/>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
      window.GA = "";
      window.lastUpdated = "2019-12-20 19:18:14Z";
    </script>


    <title>Open Data Hub Landscape</title>
    <script>
      window.prefix = ''; // this line will be replaced for a landscapeapp build
      window.landscapeBasename = "{{ '/landscape' | prepend: site.baseurl }}";
      // window.landscapeBasename = "/landscape";
    </script>
    <link href="{{ '/landscape/main.623576b078b572c770ba.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="{{ '/landscape/main.9c3a05fd848fc20ca372.js' | prepend: site.baseurl }}"></script>
</body>
</html>
